extends _site

//append styles
//	each style in stylesData
//		link(rel="stylesheet", type="text/css", href="../../modules/" + style)

block content
	h1 Hello, Ivan

append scripts
	script(type="text/javascript")
		console.log('hello');