.shop-footer {
    background-color: #FFF;
    text-align: center;
    padding: 1px;

    p {
        font-family: Helvetica, Arial, sans;
        font-weight: bold;
        letter-spacing: -1px;
        font-size: 15px;
        color: #999;
        -webkit-font-smoothing: antialiased;
    }

    sup {
        font-size: 7px;
        vertical-align: super;
    }
}