.shop-list--unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    .shop-sublist {
    	margin-left: 15px;
    	.shop-sidebar__nav__item {

    	}
    }
}

.shop-list--float {
    li {
        float: left;
    }
}